<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-sm">
<h3>Actor DB</h3>
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="/listactors" routerLinkActive="active">List </a>
      </li>
      <li class="nav-item">

          <a class="nav-link" routerLink="/addactor" routerLinkActive="active">Add </a>
      </li>
      <li class="nav-item">

          <a class="nav-link" routerLink="/updateactor" routerLinkActive="active">Update</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/deleteactor" routerLinkActive="active">Delete</a>
      </li>
  </ul>
</nav>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <h3 style='color: white'>Movie DB</h3>
    <ul class="navbar-nav">  
        <li class="nav-item">
          <a class="nav-link" routerLink="/listmovies" routerLinkActive="active">List</a>
      </li>
  
      <li class="nav-item">
          <a class="nav-link" routerLink="/addmovie" routerLinkActive="active">Add</a>
      </li>
  
      <li class="nav-item">
          <a class="nav-link" routerLink="/deletemovie" routerLinkActive="active">Delete</a>
      </li>
  
      <li class="nav-item">
          <a class="nav-link" routerLink="/addactortomovie" routerLinkActive="active">Add actor to movie</a>
      </li>
      </ul>
  </nav>
<router-outlet></router-outlet>